.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;
  background-color: var(--neoPink);
  border: 2px solid #000;
  box-shadow: 2px 2px 0px #000;
  transition: top 0.2s ease-out, left 0.2s ease-out, width 0.2s ease-out,
    height 0.2s ease-out;
}

.cursor-disable {
  --size: 0px !important;
}

@media only screen and (min-width: 1025px) {
  .cursor-main {
    --size: 28px;
  }
  .cursor-disable {
    --size: 0px !important;
  }
}


